$color-primary: #344fa1;
$color-primary-light: #98b5ff;
$color-primary-dark: #031956;

$color-secondary: #d25edd;

$color-grey-light: #f7f7f7;

$color-white: #fff;

$font-primary: "Open Sans", sans-serif; ;
