.container {
  max-width: 40rem;
  margin: 8rem auto;
  background-color: $color-primary;
  padding: 3rem;
  border-radius: 5rem;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.2);

  min-height: 60rem;
  position: relative;
}
