.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-huge {
  margin-top: 17rem !important;
}

.incomplete-fixed {
  position: absolute;
  top: -2.5rem;
  left: 0;
}

.complete-fixed {
  position: absolute;
  top: -2.5rem;
  left: 0;
}
