$color-primary: #344fa1;
$color-primary-light: #98b5ff;
$color-primary-dark: #031956;
$color-primary-dark-light: #1c3067;

$color-secondary: #df47ec;

$color-grey-light: #eee;
$color-grey-dark: #d1d1d1;

$color-white: #fff;
$color-black: #000;

$font-primary: "Open Sans", sans-serif; ;
