.btn {
  display: inline-block;
  font-size: 4.5rem;
  font-weight: 400;
  color: $color-white;
  background-color: $color-secondary;
  width: 7rem;
  height: 7rem;
  border-radius: 10rem;
  border: none;
  box-shadow: 0 1rem 1rem rgba($color-secondary, 0.3);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 30rem;
  bottom: 1rem;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-2px) scale(1.05);
  }
}

.tasks-btn {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  z-index: 10;
  display: none;

  &__edit,
  &__delete {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    background-color: $color-white;
    padding: 0.2rem 1rem;
    border-radius: 2px;
    cursor: pointer;
  }

  &__edit {
    margin-right: 0.3rem;
  }
}
