.error {
  text-align: center;

  & p {
    color: rgba(245, 227, 227, 0.945);
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 600;
  }
}

.input-error-message {
  color: #ff0000;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
